---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About Page"
---
<BaseLayout pageTitle={pageTitle}>
    <section>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde voluptate quod ducimus temporibus cupiditate ullam hic totam modi, voluptatem recusandae laudantium illum ipsam ex provident incidunt dignissimos beatae, facilis amet vel quo obcaecati voluptas aspernatur dicta doloribus. Non ratione quo necessitatibus eaque, tempora ad dolorum possimus blanditiis consequatur beatae repellat velit laborum repellendus. Explicabo obcaecati aut enim at corporis saepe. Accusantium architecto nobis in reprehenderit quisquam, veritatis non minus, ipsam voluptates quam dolores enim fuga culpa modi ipsa adipisci? Iste?</p>
        </div>
    </section>
</BaseLayout>
