---


---

<footer class="footer">
    <div>
        Copyright &copy; {new Date().getFullYear()} - @siattesting 
    </div>
</footer>
<style>
    .footer {
        padding: 20px;
        text-align: center;
        background-color: #ddd;
        font-size: 15px;
    }
   
</style>
