<footer class="footer">
    <div>
        Copyright &copy; {new Date().getFullYear()} - @siattesting
    </div>
</footer>
<style>
    .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
    }
</style>
