---
import { $currentUser } from "../lib/stores/users";
console.log($currentUser)

---

<footer class="footer">
    <div>
        Copyright &copy; {new Date().getFullYear()} - @siattesting - You are {$currentUser.value}
    </div>
</footer>
<style>
    .footer {
        padding: 20px;
        text-align: center;
        background-color: #ddd;
        font-size: 15px;
    }
   
</style>
