---
const data = Astro.locals
const currentUser = data.user?.email
---
<nav class="nav-links ">
    <a href="/">Home</a>
    <a href="/shops">Shops</a>
    <a href="/about">About</a>
    {!currentUser && 
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
    }
    { currentUser && <a href="/auth/logout">Logout</a>}
    {currentUser && <button>{currentUser}</button>}
</nav>

